@import "categoryPage";
@import "filePage";
@import "resultPage";
@import "tablePage";
@import "categoryListPage";
body{
  font-family: Lato, Arial, sans-serif;
}
.app {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 2px #212529;
  border-top: solid 2px #212529;
  padding: 10px;
  menu-item{
    flex-grow: 1;
  }
  .menu-item a{
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    display: flex;
    text-decoration: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    color: #212529;
    font-weight: 600;
    font-size: 20px;
  }
}
.page{
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .block{
    margin:10px;
  }
  .table-block{
    width: 80%;
  }
}
.link-decoration{
  text-decoration: none;
  color: white;
}
